{% extends "layout.html" %}

{% set name = name %}
{% set title = "Education" %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/education.css">
{% endblock %}

{% block content %}

<div class="education">
  {% for school in education %}
  <div class="school">
    <h3>{{ school.school }} | {{ school.degree }}</h3>
    {% if school.start_date and school.end_date %}
    <p>{{ school.start_date }} - {{ school.end_date }}</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock %}
