{% extends "layout.html" %}

{% set name = name %}
{% set title = "Work Experience" %}

{% block styles %}
<link rel="stylesheet" href="/static/styles/work-experience.css">
{% endblock %}

{% block content %}
<div class="work-experience">
  {% for experience in work_experience %}
    <div class="experience">
      <h3>{{ experience.company }} | {{ experience.title }}</h3>
      <p>{{ experience.start_date }} - {{ experience.end_date }}</p>
      <p>{{ experience.description }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}